@import '../variables.scss';

.navbar {
  background-color: $navbar-background-color;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 10px 0px;

  .navbar-toggler {
    margin-left: 10px;
  }

  @media only screen and (min-width: 992px){
	  & {
      padding: 0px;
    }
	}
}

.full-width {
  width: 100%;
}
